*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	font-family: 'Ubuntu', sans-serif;
	font-family: 'Ubuntu Mono', monospace;

}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

/*_________________BODY_________________*/

.wrapper {
	background-color: #fff;
}
.container {
	max-width: 100%;
	margin: 0 auto;
	padding: 0px 5px;
}

body.lock {
	overflow: hidden;
}

a {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);

}

/*_________________HEADER_________________*/

.header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 50;
}
.header:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #fff;
	z-index: 1;
}  

.header__body {
	box-shadow: 0px 0.1px 2px #404040;
	padding: 5px 0;
	position: relative;
	display: flex;
	justify-content: space-between;
	max-height: 44.31px;
	align-items: center;
	overflow: hidden;

}
.header__body.active:after {
	content: '';
 	position: absolute;
 	bottom: 0px;
 	width: 100%;
 	height: 1px;
 	left: 0;
 	background-color: #404040;
 	z-index: 2;
}
.header__logo {
	flex: 0 0 30px;
	border-radius: 10%;
	overflow: hidden;
	z-index: 2;
	transition: all 0.3s ease 0s;
}
.header__logo:hover {
	box-shadow: 0px 0.1px 2px #000;

}
.header__logo img {
	max-width: 100%;
	display: block;
}
.header__title {
	text-align: center;
	letter-spacing: -1px;
	font-size: 17px;
	z-index: 2;
	padding: 0px 5px;
}
.header__title a {
	color: #404040;
	font-size: 21px;
}

/*_________________HEADER__BURGER_________________*/


.header__burger {
	flex: none;
	position: relative;
	width: 30px;
	height: 20px;
	z-index: 2;
}
.header__burger span {
	position: absolute;
	background-color: #404040;
	left: 0;
	width: 100%;
	height: 2px;
	top: 9px;
	transition: all 0.3s ease 0s;
}
.header__burger:before,
.header__burger:after {
	content: '';
	background-color: #404040;
	position: absolute;
	width: 100%;
	height: 2px;
	left: 0;
	transition: all 0.3s ease 0s;
}
.header__burger:before {
	top: 0;
}
.header__burger:after {
	bottom: 0;
}
.header__burger.active span {
	transform: scale(0);
}
.header__burger.active:before {
	transform: rotate(45deg);
	top: 9px;
}
.header__burger.active:after {
	transform: rotate(-45deg);
	bottom: 9px;
}

/*_________________HEADER__MENU_________________*/

.header__menu {
	position: fixed;
	top: -100%;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #fff;
	padding: 74.31px 30px 5px 5px;
	transition: all 0.3s ease 0s;
	overflow: auto;
}
 .header__menu.active {
	top: 0;
} 
.header__list {
	text-align: right;
	font-size: 21px;
	letter-spacing: -0.5px;
	text-transform: uppercase;
}
.header__list li {
	padding: 30px 0px 0px 0px;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


.header__list li:first-child {
	padding: 0px 0px 0px 0px;
}
.header__link {
	color: #404040;
}

.header__text {
	display: none;
}

/*_________________SECTION__MAIN_________________*/

.section {
	/*margin: 63.31px 0px 0px 0px;*/
	/*background: #fff;*/
}
.section:before {
	content: '';
	display: block;
	/*height: 64.31px;*/
	padding: 64.31px 0px 0px 0px;
}
.section__block:before {
	content: '';
	display: block;
	height: 64.31px;
	margin: -64.31px 0px 0px 0px;
}
.block__title {
	text-align: center;
	font-size: 19px;
	letter-spacing: -1px;
	color: #c5a37e;
	margin: 0px 0px 20px 0px;
}
.block__row {
	display: flex;
	flex-wrap: wrap;
	/*justify-content: center;*/
}
 .block__column {
	padding: 0px 0px 20px 0px;
	flex: 0 1 100%;
} 
.block__item {
	border: 1px solid #404040;
	overflow: hidden;
}
.item__container {
	position: relative;
	padding: 0% 0% 100% 0%;
}
.item__link {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
.item__link img {
	display: none;
}
.item__text {
	position: relative;
	z-index: 1;
	background-color: #fff;
	font-size: 15px;
	border-top: 1px solid #404040;
	text-align: left;
	padding: 5px 0px 5px 10px;
}


/*_________________SECTION__ITEMS_________________*/
.column {
	/*margin: 0px 0px 5	px 0px;*/
}
.column_right .column__block {
	display: none;
}
.column__block {
	font-size: 15px;
	text-transform: uppercase;
	letter-spacing: -0.5px;
	font-weight: bold;
	text-align: center;
	position: relative;
	margin: 0px 0px 5px 0px;
	padding: 0px 0px 15px 0px;
}
.column__block h2 {
	margin: 0px 0px 5px 0px;
	font-weight: bold;
}
.column__list li {
	margin: 0px 0px 5px 0px;
}
.column__list li:last-child {
	margin: 0px 0px 0px 0px;
}
.column__list span {
	font-weight: normal;
}
/*.column__block p {
	text-align: center;
	font-size: 21px;
	text-transform: none;
	padding: 15px 0px 15px 0px;
	position: relative;
}*/
.column__block:after {
	content: '';
	position: absolute;
	bottom: 0px;
	left: 0;
	width: 100%;
	height: 1px;
	background-color: #404040;
}
.column__gallery {
	/*flex: 0 1 100%;*/
	/*margin: -10px 0px 0px 0px;*/
}
.gallery__container {
	margin: 0px 0px 5px 0px;
	padding: 0% 0% 80% 0%;
	position: relative;

}
.gallery__image {
	/*width: 100%;*/
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
.gallery__arrows {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	/*position: relative;*/
}
.arrow__left,
.arrow__right {
	flex: 0 0 33.333%;
	position: relative;
	cursor: pointer;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


.arrow__left:before,
.arrow__right:after {
	content: '';
	position: absolute;
	border: solid #c5a37e;
	border-width: 0px 4px 4px 0px;
	top: 48%;
	padding: 8px;
	transition: all 0.3s ease 0s;
	opacity: 0.9;
}	
.arrow__left:before {
	transform: rotate(135deg);
	left: 10%;
}

.arrow__right:after {
	right: 10%;
	transform: rotate(-45deg);
}


/*.gallery__image img {
	max-width: 100%;
}*/
.gallery__row {
	display: flex;
	margin: 0px 15% 0px 15%;
	
}
.gallery__item {
	flex: 0 1 33.333%;
	margin: 0px 2.5px 0px 2.5px;
	
}
.gallery__item img {
	max-width: 100%;
}
.gallery__item.active {
	border: 2px solid #c5a37e;
	opacity: 0.9;
}
.column__title {
	font-size: 21px;
	text-transform: uppercase;
	letter-spacing: -0.5px;
	font-weight: bold;
	text-align: center;
	margin: 30px 0px 30px 0px;

}

.column__body {

}
.column__input {
	text-align: center;
	margin: 0px 0px 15px 0px;
	font-size: 15px;
	text-transform: uppercase;
	letter-spacing: -0.5px;
	font-weight: bold;
	font-weight: bold;

}

.column__input h2 {
	font-weight: bold;
}
.column__input span {
	font-weight: normal;
}
.column__input input{
	border: 1px solid #404040;
	width: 70%;
	height: 30px;
	letter-spacing: -0.5px;
	text-align: center;
	font-size: 21px;
	margin: 5px 0px 0px 0px;
	color: #c5a37e;
}
.column__input input:focus {
	background: rgba(64, 64, 64, 0.1);
}
.column__output {
	width: 100%;
	letter-spacing: -0.5px;
	font-size: 21px;
	/*padding: 0px 0px 0px 0px;*/
	/*margin: 0px 0px 30px 0px;*/
	color: #c5a37e;
	/*position: relative;*/
}
/*.column__output:after {
	content: '';
	position: absolute;
	bottom: 0px;
	left: 0;
	width: 100%;
	height: 1px;
	background-color: #404040;
}*/
.output__text {
	text-align: center;
	margin: 0 auto;
	width: 70%;
	border: 1px solid #404040;
	padding: 4px 0px 0px 0px;
	background: rgba(64, 64, 64, 0.9);
	color: #fff;
	/*vertical-align: middle;*/
	height: 30px;
	/*margin: 0px 0px 0px 0px;*/
}

.column__footer {
	font-size: 15px;
	text-transform: uppercase;
	letter-spacing: -0.5px;
	font-weight: bold;
	text-align: center;
	position: relative;
	padding: 30px 0px 0px 0px;
	margin: 5px 0px 0px 0px;
}
.column__footer:before {
	content: '';
	position: absolute;
	top: 0px;
	left: 0;
	width: 100%;
	height: 1px;
	background-color: #404040;
}


/*_________________FOOTER_________________*/

.footer__row {
	text-align: center;
	font-size: 17px;
	letter-spacing: -1px;
	margin: 30px 0px 30px 0px;
	padding: 30px 0px 30px 0px;
	position: relative;
	/*line-height: 25px;*/
}
.footer__row:before,
.footer__row:after {
	content: '';
	background-color: #404040;
	position: absolute;
	width: 100%;
	height: 1px;
	left: 0;
}
.footer__row:before {
	top: 0;
}
.footer__row:after {
	bottom: 0;
}

.footer__email {
	display: block;
	color: #404040;
	padding: 0px 0px 20px 0px;
}
.footer__list li {
	padding: 0px 0px 5px 0px;
}

.footer__list {
	padding: 0px 0px 20px 0px;
}
.footer__link {
	/*display: block;*/
	margin: 0 auto;
	width: 50px;
	transition: all 0.3s ease 0s;
}
.footer__link img {
	max-width: 100%;
}
.footer__link:hover {
	transform: scale(1.1);
}

/*_________________MEDIA__425__PX_________________*/

@media (min-width: 425px) {
	.container {
		padding: 0px 10px;
	}
	.header__body {
		margin: 5px 0px 0px 0px;
	}
	.block__row {
		margin: 0px -10px 0px -10px;

	}
	.block__column {
		flex: 0 1 50%;
		padding: 0px 10px 20px 10px;
	}
	.block__gallery {
		margin: -5px 10px 0px 10px;
	}
	/*.column__input input {
		width: 70%;
	} 
	.column__output {
		width: 70%;
		
	}*/

}
/*_________________MEDIA__782__PX_________________*/

@media (min-width: 782px) {

	/*_______BODY_______*/

	body.lock {
		overflow: visible;
	}
	.container {
		max-width: 1200px;
	}
	
	/*_______HEADER______*/

	.header__body {
		box-shadow: none;
		max-height: 105.63px;
	}
	.header__body.active:after {
		display: none;
	}
	
	.header__logo {
		flex: 0 0 60px;
	}
	.header__burger {
		display: none;
	}
	.header__title a {
		display: none;
	}
	.header__title h1 {
		font-size: 45px;
		margin: 0px 5px;
		letter-spacing: -1px;	
	}
	.header__text {
		text-align: right;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-self: stretch;
		z-index: 2;
		font-size: 17px;
		letter-spacing: -1px;
		margin: 5px 0px;	
	}

	/*_______HEADER__MENU_______*/

	.header__menu {
		position: relative;
		z-index: 2;
		padding: 5px 0px 5px 0px;
	}
	.header__menu:before, 
	.header__menu:after {
 		content: '';
 		position: absolute;
 		width: 100%;
 		height: 1px;
 		left: 0;
 		background-color: #404040;
 		z-index: 2;
 	} 	
	.header__menu:before {
 		top: 0;
	}
	.header__menu:after {
		bottom: 0;
	}
	.header__list {
		display: flex;
		justify-content: space-around;
		text-align: center;
		font-size: 17px;
		letter-spacing: -0.2px;
	}
	.header__list li {
		padding: 0px 0px 0px 0px;
	}
	.header__link {
		color: #404040;
		text-transform: uppercase;
		transition: all 0.3s ease 0s;
	}
	.header__list a:hover {
		color: #c5a37e;
	}

	/*_______SECTION_______*/

	.section {
		/*margin: -135.63px 0px 0px 0px;*/
	}
	.section:before {
		content: '';
		display: block;
		/*height: 135.63px;*/
		padding: 135.63px 0px 0px 0px;
	}
	.section__block:before {
		content: '';
		display: block;
		height: 135.63px;
		margin: -135.63px 0px 0px 0px;
	}
	.block__title {
		font-size: 35px;
		margin: 0px 0px 30px 0px;
	}
	.block__row {
		margin: 0px -15px 0px -15px;
	}
	.block__column {
		flex: 0 1 33.33%;
		padding: 0px 15px 30px 15px;
	}
	.item__link {
		opacity: 0.85;
		transition: all 0.3s ease 0s;
	}
	.item__link:hover {
		opacity: 1;
		transform: scale(1.1);
	}

	/*_______SECTION__ITEMS_______*/
	.wrapper {
		min-height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	.section,
	.container {
		/*height: 100%;*/
	
	}
	.section__row {
		display: flex;
		/*height: 1000px;*/
	}
	.section__column {
		/*height: 100%;*/
	}
	.column_left {
		/*flex: 0 1 60%;*/
		/*height: 100%;*/
	}
	
	.column_right {
		/*flex: 1 0 40%;*/
		flex: 1 0 40%;
		margin: 0px 0px 0px 10px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	.column__gallery {
		/*flex: 0 1 100%;*/
		/*margin: -10px 0px 0px 0px;*/
		/*height: 100%;*/
		display: flex;
		flex-direction: column;
		/*justify-content: space-between;*/
	}
	.gallery__container {
		/*height: 90%;*/
		/*margin: 0px 0px 5px 0px;*/
		/*padding: 0% 0% 50% 0%;*/
		/*position: relative;*/
		flex: 1 0 570px;

	}
	.gallery__row {
		/*flex: 0 1 10%;*/
		/*height: 65px;		*/
	}

	.column__block {
		text-align: left;
		font-size: 17px;
		padding: 0px 0px 5px 0px;
		margin: 0px 0px 0px 0px;
		flex-grow: 0;

	}
	.column__body {
		flex-grow: 1;

		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	.column__form {
		/*flex: 1 0 auto;*/
	}

	.column__output {
		/*flex: 1 0 10%;*/

	}
	.column__footer {
		flex-grow: 0;
		text-align: left;
		font-size: 17px;
		padding: 5px 0px 0px 0px;
		margin: 30px 0px 0px 0px;
	}
	/*.column {
		flex: 0 0 50%;
	}*/
	.column_left .column__block {
		display: none;
	}
	.column_right .column__block {
		display: block;
	}
	.arrow__left:before {
		transform: rotate(135deg);
		left: 15%;
	}

	.arrow__right:after {
		right: 15%;
		transform: rotate(-45deg);
	}
	.arrow__left:hover:before {
		transform: rotate(135deg) scale(2);
		opacity: 1;
	}
	.arrow__right:hover:after {
		transform: rotate(-45deg) scale(2);
		opacity: 1;
	}


	/*_______FOOTER_______*/

	.footer__row {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.footer__list {
		padding: 0px 0px 0px 0px;
		flex: 1 0 33.333%;
	}
	.footer__link {
		/*margin: 0px 0px 0px 0px;*/
		order: 2;
		flex: 0 0 33.333%;
	}
	.footer__link a {
		display: block;
		margin: 0 auto;
		width: 60px;
	}
	.footer__list_1 {
		order: 3;
		text-align: right;
	}
	.footer__list_2 {
		order: 1;
		text-align: left;
	}
	.footer__email {
		display: none;
	}
}

